.bacground {
  background-color: white;
 position: relative;
 z-index: 1;
  
}
.hero{
  position: relative;
  z-index: 2;
}
.cont{
position: relative;
z-index: 3;
position: absolute;
top: 10%;

}
.redbg{
  background-color: red;
}

.image {
  z-index: 1;
  position: relative;
  object-fit: cover;
}
.innercontwidth{
  width: 95%;
}
/*small screen*/
.height{
  height: 60vh;
}

.small{
  height: 60vh;
  width: 100%;
  object-fit: cover;
}
.phone{
  height:45vh;
  width: 100%;
  object-fit: cover;
}
.phonetop{
  top:40%
}
.pos{
  top: 20%;
}